.box-formularioDeContacto{
    width: 100%;
    max-width: 150rem;
    height: 80rem;
    margin: auto;
    margin-top: 3%;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 75rem 1fr;

}

.box-formularioDeContacto .bannerC{
    width: 100%;
    height: 80rem;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.box-formularioDeContacto .bannerC .titulo-banner{
    width: 440px;
    height: 50px;

    color: rgb(68, 230, 62);
    font-size: 70px;
    font-weight: 700;
}

.box-formularioDeContacto .bannerC .imagen-banner{
    width: 75rem;
    height: 55rem;
}

.box-formularioDeContacto .bannerC .imagen-banner img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}


.box-formularioDeContacto .formularioC{
    height: 80rem   ;

    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    gap: 5rem;
}

#Contacto{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

#Contacto label{
    color: gray;
    display: flex;
    flex-direction: column;
}

#Contacto label div{
    font-size: 25px;
    color: white;
}

#Contacto input{
    width: 40rem;
    height: 8rem;
    border: none;
    outline: none;
    border-radius: 10px;

    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

#Contacto2 label{
    color: gray;
    display: flex;
    flex-direction: column;
}

#Contacto2 label div{
    font-size: 25px;
    color: white;
}

#Contacto2 input{
    width: 40rem;
    height: 20rem;
    border: none;
    outline: none;
    border-radius: 15px;

    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.formularioC button{
    width: 20rem;
    height: 5rem;
    border-radius: 2rem;
    border: none;
    outline: none;

    color: white;
    font-size: 2rem;
    font-weight: 600;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}